.section {
    background-color: #ebecf0;
    border-radius: 3px;
    width: 300px;
    height: 100%;
    padding: 8px 1px 8px 1px;
    margin: 8px 0px 0px 8px;
}

.titleContainer {
    justify-content: space-between;
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.title {
    color: #172b4d;
    font-size: 14px;
    line-height: 20px;
    margin: 15px 15px 15px 22px;
    font-weight: bold;
    opacity: 0.7;
    display: inline-block;
}

.options {
    display: inline-block;
    margin-right: 15px;
    border-radius: .3rem;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    color: #172b4d;
    opacity: 0.7;
}

.options:hover {
    background-color: #dac3e8;
}