.headerNav {
    margin: auto;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.25);
}

.Buttons {
    justify-content: flex-end;
    display: inline-flex;
    align-items: center;
    border-radius: .3rem;
    background-color: rgba(0,0,0,0.16);
    color: white;
    border: none;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    margin: 0 4px 0 4px;
}

.Buttons:hover {
    background-color: rgba(255, 255, 255, 0.436);
    cursor: pointer;
}

.signLink {
    text-decoration: none;
}

.buttonsCont {
    justify-content: flex-end;
    display: inline-flex;
    align-items: center;
}